*{
    background-color: rgba(185, 220, 255, 0.867);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.header-elements{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

#header-banner{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

#header{
    color: #ff1414;
    margin: 10px 0;
}

#header-input{
    font-size: 18px;
    background-color: aliceblue;
    font-style: italic;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#header-button{
    font-size: 18px;
    background-color: rgba(206, 231, 255, 0.867);
    padding: 8px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background 0.3s;
}

#header-button:hover{
    background-color: #b0d4ff;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 20px;
}

.grid-item{
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
}


.grid-item:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.grid-item img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #ccc;
}

.grid-item span{
    padding: 12px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    text-align: left;
}

#footer{
    text-align: center;
}

.footer-info{
    color: #000000;
    text-decoration: none;
    font-size: 11px;
    border-color: #000000;
}